<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Find Your Perfect Training Ground</h1>
      <p class="lead text-body-secondary">Discover top-notch facilities to elevate your game. Whether you're a beginner or a pro, we have the perfect training ground for you.</p>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-4 text-center">Search Training Grounds</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form class="mb-4" action="<%= visitor_index_path %>" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Enter location or training ground name" aria-label="Search training grounds">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
          <div class="row g-3 mt-2">
            <div class="col-md-4">
              <select class="form-select" name="sport_type" aria-label="Sport type">
                <option value="" selected>All Sports</option>
                <% Sport.all.each do |sport| %>
                  <option value="<%= sport.id %>"><%= sport.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h1 class="text-center mb-4">Training Grounds</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @training_grounds.each do |ground| %>
        <div class="col d-flex">
          <div class="card shadow-sm flex-fill">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= ground.name %></h5>
              <p class="card-text">Sport: <%= ground.sport.name if ground.sport %></p>
              <p class="card-text">Location: <%= "#{ground.location.address}, #{ground.location.city}, #{ground.location.country}" if ground.location %></p>
              <div class="d-flex justify-content-between align-items-center mt-auto">
                <div class="btn-group">
                  <%= link_to 'View', training_ground_path(ground), class: 'btn btn-sm btn-outline-secondary' %>
                </div>
                <small class="text-body-secondary">Available</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Pagination Links -->
    <div class="mt-4">
      <nav aria-label="Page navigation">
        <%= paginate @training_grounds %>
      </nav>
    </div>
  </div>
</div>

