<%= form_with(model: @player, url: admin_players_path) do |form| %>
   <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :team %>
    <%= form.collection_select :team_id, Team.all, :id, :name, prompt: "Select a Team" %>
  </div>

  <div>
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div>
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
