<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Naitionality</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.team_id %></td>
        <td><%= player.nationality %></td>
        <td><%= player.birth_date %></td>
        <td>
          <%= link_to "Edit", edit_admin_player_path(player) %> |
          <%= link_to "Destroy", admin_player_path(player), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Player", new_admin_player_path %>
