<section id="facility_owner-training_ground__index">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Players</h1>
    </div>
    <div class="col-auto">
      <%= link_to 'New Player', new_facility_owner_player_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.mobile_number %></td>
            <td class="text-center">
              <%= link_to 'Show', facility_owner_player_path(player), class: 'btn btn-sm btn-info' %>
              <%= link_to 'Edit', edit_facility_owner_player_path(player), class: 'btn btn-sm btn-warning' %>
              <%= button_to 'Destroy', facility_owner_player_path(player),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
